<!DOCTYPE html>
<html>
<head>
    <title>Projects Dashboard</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% for file in css_files %}
    <link rel="stylesheet" href="{% static file %}">
    {% endfor %}
</head>
<body>
    <div id="root"></div>
    {% for file in js_files %}
    <script type="module" src="{% static file %}"></script>
    {% endfor %}
</body>
</html>